/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-cursor-pointer {
  cursor: pointer;
}

.marker {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: green;
}

.animated-circle {
  animation: spread-pulse 2s infinite;
  transform-origin: center;
}

@keyframes spread-pulse {
  0% {
    r: 5;
    opacity: 1;
  }
  50% {
    r: 8;
    opacity: 0.5;
  }
  100% {
    r: 5;
    opacity: 1;
  }
}

* .react-calendar {
  padding: 2px;
  border: none !important;
}

.custom-font-color {
  color: #F6881F;
}

.custom-border-select {
  border: 1px solid #F6881F;
}

.custom-text-success {
  color: #1da84d;
}

.custom-text-danger {
  color: #9e2115;
}


.custom-filter-search {
  width: 270px !important;
}

.custom-filter-search .form-control {
  padding-left: 14px !important;
}

.custom-filter-salesClassification, .custom-filter-typePlacement, .custom-filter-typeAds  {
  width: 220px !important;
}

#container-other-filters-right {
  width: auto;
}

.custom-metric-filter-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.custom-btnn {
  width: 100%;
  background-color: #8042D4 !important;
  color: #fff !important;
  border-radius: 6px !important;
  border: none !important;
  padding: 4px 8px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.custom-btnn:hover {
  background-color: #502A85FF !important;
  transition: background-color 0.3s ease !important;
}




@media screen and (max-width: 1243px) {
  #custom-product-container-filter-metric {
    flex-direction: column !important;
    align-items: start !important;
  }
}

@media screen and (max-width: 812px) {
  .custom-filter-search {
    width: 200px !important;
  }
  .custom-filter-salesClassification, .custom-filter-typePlacement, .custom-filter-typeAds {
    width: 180px !important;
  }
}

@media screen and (max-width: 768px) {
  #container-other-filters {
    flex-direction: column !important;
    align-items: start !important;
    gap: 1.3rem !important;
  }
  #container-other-filters-right {
    width: 100%;
  }
  #container-other-filters-left {
    width: 100% !important;
  }
  .custom-filter-search {
    width: 100% !important;
  }
  .custom-filter-salesClassification, .custom-filter-typePlacement, .custom-filter-typeAds {
    width: 100% !important;
  }
}

@media screen and (max-width: 646px) {
  #custom-ads-container-filter-metric {
    flex-direction: column !important;
    align-items: start !important;
  }
}

@media screen and (max-width: 628px) {
  #custom-image-profile-merchant-information {
    max-width: 80px !important;
    max-height: 80px !important;
  }
}

.responsive-button {
  width: 40%;
}

@media (max-width: 416px) {
  .responsive-button {
    width: 50%;
  }
}

@media (min-width: 576px) {
  .responsive-button {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .responsive-button {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .responsive-button {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .responsive-button {
    width: 25%;
  }
}




/* Custom background shape buble login page */
.background-bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.bubble {
  position: absolute;
  bottom: -50px;
  background-color: #2c2f8f;
  border-radius: 50%;
  animation: floatUp 12s linear infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) scale(1.4);
  }
}

.bubble:nth-child(1) {
  left: 5%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.bubble:nth-child(2) {
  left: 20%;
  width: 30px;
  height: 30px;
  animation-delay: 3s;
}
.bubble:nth-child(3) {
  left: 35%;
  width: 20px;
  height: 20px;
  animation-delay: 1.5s;
}
.bubble:nth-child(4) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 2s;
}
.bubble:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.bubble:nth-child(6) {
  left: 80%;
  width: 28px;
  height: 28px;
  animation-delay: 1s;
}
.bubble:nth-child(7) {
  left: 10%;
  width: 32px;
  height: 32px;
  animation-delay: 5s;
}
.bubble:nth-child(8) {
  left: 40%;
  width: 28px;
  height: 28px;
  animation-delay: 6s;
}
.bubble:nth-child(9) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 2.5s;
}
.bubble:nth-child(10) {
  left: 90%;
  width: 40px;
  height: 40px;
  animation-delay: 3.5s;
}