/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.marker {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: green;
}

.animated-circle {
  animation: spread-pulse 2s infinite;
  transform-origin: center;
}

@keyframes spread-pulse {
  0% {
    r: 5;
    opacity: 1;
  }
  50% {
    r: 8;
    opacity: 0.5;
  }
  100% {
    r: 5;
    opacity: 1;
  }
}

* .react-calendar {
  padding: 2px;
  border: none !important;
}

.custom-font-color {
  color: #F6881F;
}

.custom-border-select {
  border: 1px solid #F6881F;
}

.custom-text-success {
  color: #1da84d;
}

.custom-text-danger {
  color: #9e2115;
}


.custom-filter-search {
  width: 270px !important;
}

.custom-filter-search .form-control {
  padding-left: 14px !important;
}

.custom-filter-salesClassification  {
  width: 220px !important;
}

@media screen and (max-width: 768px) {
  .custom-filter-search {
    width: 200px;
  }
  .custom-filter-salesClassification {
    width: 100px;
  }
}

#container-table .table {
  width: max-content !important;
} 