/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.marker {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: green;
}

.animated-circle {
  animation: spread-pulse 2s infinite;
  transform-origin: center;
}

@keyframes spread-pulse {
  0% {
    r: 5;
    opacity: 1;
  }
  50% {
    r: 8;
    opacity: 0.5;
  }
  100% {
    r: 5;
    opacity: 1;
  }
}

* .react-calendar {
  padding: 2px;
  border: none !important;
}

.custom-font-color {
  color: #F6881F;
}

.custom-border-select {
  border: 1px solid #F6881F;
}

.custom-text-success {
  color: #1da84d;
}

.custom-text-danger {
  color: #9e2115;
}


.custom-filter-search {
  width: 270px !important;
}

.custom-filter-search .form-control {
  padding-left: 14px !important;
}

.custom-filter-salesClassification, .custom-filter-typePlacement, .custom-filter-typeAds  {
  width: 220px !important;
}

#container-other-filters-right {
  width: auto;
}

.custom-metric-filter-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}




@media screen and (max-width: 1243px) {
  #custom-product-container-filter-metric {
    flex-direction: column !important;
    align-items: start !important;
  }
}

@media screen and (max-width: 812px) {
  .custom-filter-search {
    width: 200px !important;
  }
  .custom-filter-salesClassification, .custom-filter-typePlacement, .custom-filter-typeAds {
    width: 180px !important;
  }
}

@media screen and (max-width: 768px) {
  #container-other-filters {
    flex-direction: column !important;
    align-items: start !important;
    gap: 1.3rem !important;
  }
  #container-other-filters-right {
    width: 100%;
  }
  #container-other-filters-left {
    width: 100% !important;
  }
  .custom-filter-search {
    width: 100% !important;
  }
  .custom-filter-salesClassification, .custom-filter-typePlacement, .custom-filter-typeAds {
    width: 100% !important;
  }
}

@media screen and (max-width: 646px) {
  #custom-ads-container-filter-metric {
    flex-direction: column !important;
    align-items: start !important;
  }
}

@media screen and (max-width: 628px) {
  #custom-image-profile-merchant-information {
    max-width: 80px !important;
    max-height: 80px !important;
  }
}

.responsive-button {
  width: 40%;
}

@media (max-width: 416px) {
  .responsive-button {
    width: 50%;
  }
}

@media (min-width: 576px) {
  .responsive-button {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .responsive-button {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .responsive-button {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .responsive-button {
    width: 25%;
  }
}